* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif, Arial;
  color: #5b6e80;
  font-size: 0.95rem;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-position: inside;
}

.primary-title {
  font-size: 1rem;
  font-weight: 600;
  color: #3b4147;
}

.secondary-title {
  font-size: 1rem;
  font-weight: 600;
}

.main-container {
  height: 100vh;
  aspect-ratio: 1/1.4142;
}

.info-and-socialmedia {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 160px;
}

.profile-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  /* border-radius: 100%; */
}

.profile-image {
  width: 120%;
  height: 120%;
  object-fit: cover;
}

.info-container {
  /* background-color: yellowgreen; */
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.name {
  font-size: 1.1rem;
  font-weight: 600;
  color: #3b4147;
}

.socialmedia-list,
.socialmedia-list * {
  /* font-size: 0.85rem; */
  color: #5b6e80;
  list-style: none;
  list-style-position: inside;
}

.socialmedia-list > li {
  padding-bottom: 6px;
}

.socialmedia-list .fa,
.fa-brands {
  margin-right: 5px;
}

.job-description {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(231, 231, 236);
}

.core-competencies-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}

.job-title-job-info-container {
  margin-bottom: 6px;
}

.job-title {
  display: inline;
}

.job-info {
  display: inline;
  margin-left: 10px;
}

.job-main-container:not(:last-child) {
  margin-bottom: 20px;
}

.professional-experience-container {
}

.education-container {
}

.technical-skills-container {
}

.additional-credentials-container {
}

.block {
  padding: 20px;
}

.technical-skills-table table {
  border-collapse: collapse;
}

.technical-skills-table table > tbody > tr > td:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.411);
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 1rem;
}

.technical-skills-table > tbody > tr > td:nth-child(2) {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

